workflow start-vms
{
    # vars
    $resourceGroup  = ${resource_group}
    
    # login - need to have managed identity for this to work https://docs.microsoft.com/en-us/azure/automation/enable-managed-identity-for-automation
    Connect-AzureRMAccount -Identity

    # get vm list
    $azureVMs = (Get-AzureRmVM -ResourceGroupName $resourceGroup).Name 
    [System.Collections.ArrayList]$azureVMsToHandle = $azureVMs 

    # iterate over vms
    foreach -parallel ($azureVM in $azureVMsToHandle) 
    { 
        # start vm
        Start-AzureRmVM -ResourceGroupName $resourceGroup -Name $azureVM

        # update monitoring tag
        $tags  = (Get-AzureRmResource -ResourceGroupName $resourceGroup -Name $azureVM).Tags
        $new_tags = InlineScript {
            $new_tags = @()
            $tags = $Using:tags
            foreach($item in $tags) {
                if ($item.Name -eq "not_monitored") {
                    $new_tags += @{"Name"="not_monitored";"Value"="false"}
                } else {
                    $new_tags += @{"Name"=$item.Name;"Value"=$item.Value}
                }
            }
            return $new_tags
        }
        Set-AzureRmResource -ResourceGroupName $resourceGroup -Name $azureVM -ResourceType "Microsoft.Compute/VirtualMachines" -Tag $new_tags -Force 
    }
}
